<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Promotion Email</title>
</head>
<body style="background: ghostwhite; font-family: Arial, sans-serif; font-size: 1.1rem; margin: 0; padding: 0;">

    <main>
        <section id="promo" style="background: ghostwhite; padding: 10px; position: relative;">
            <div class="container" style="background: white; width: 60%; margin: auto;">
                <div class="logo" style="position: relative; height: 200px; width: 200px; margin: auto;">
                    <img src="../../icons/logo.png" alt="" class="img-logo" style="height: 100%; width: 100%;">
                </div>
                <h1 class="center" style="text-align: center; font-family: fantasy; font-size: 2rem; color: rgb(6, 64, 6);">EU Organics Online Store</h1>
              
                <p style="text-align: left; padding-left: 16px; padding-top: 40px; padding-right: 20px;">
                    Welcome to EUOrganics Promotions!
                    <br><br>
                    Dear Valued Customer,<br><br>
                    We're excited to welcome you to EUOrganics, your trusted source for the finest organic foods. In our promotions, you'll find exclusive deals on a wide range of high-quality, ethically sourced, and sustainably produced products. From fresh fruits and vegetables to pantry staples, snacks, and beverages, we've got everything you need to enjoy the pure goodness of nature.<br><br>
                    Discover our latest offers and join us in our commitment to health, wellness, and environmental sustainability. Here are some of the exciting promotions coming your way:<br><br>
                    <ul>
                        <li>Discounts on seasonal fresh produce</li>
                        <li>Special offers on bulk purchases</li>
                        <li>Exclusive deals on new product launches</li>
                        <li>Free shipping on orders over a certain amount</li>
                    </ul>
                    <br>
                </p>
                <p style="padding-left: 16px; padding-right: 20px;">
                    Thank you for choosing EUOrganics – we’re delighted to have you as part of our community. Stay tuned for more updates and promotions!
                </p>
                <div class="promos" style="padding: 32px;">
                    <h3 style="text-align: center;">Here is what's coming</h3>
                    <div class="promo" style="display: grid; grid-template-columns: 45% 55%; grid-template-rows: auto; column-gap: 40px;">
                        <div class="head" style="padding: 30px;">
                            <img src="../../icons/promo4.jpg" alt="the first promo image" class="promo-img" style="position: relative; height: 75%; width: 65%;">
                        </div>
                        <div class="body">
                            <h2 style="font-size: 1.4rem;">{{ promotionTitleOne }}</h2>
                            <p>{{ promotinTextOne }}</p>
                        </div>
                    </div>
                    <div class="promo" style="display: grid; grid-template-columns: 45% 55%; grid-template-rows: auto; column-gap: 40px;">
                        <div class="head" style="padding: 30px;">
                            <h2 style="font-size: 1.4rem;">{{ promotionitleTwo }}</h2>
                            <p>{{ promotinTextTwo }}</p>
                        </div>
                        <div class="body">
                            <img src="../../icons/promo2.jpg" alt="the first promo image" class="promo-img" style="position: relative; height: 75%; width: 65%;">
                        </div>
                    </div>
                    <div class="promo" style="display: grid; grid-template-columns: 45% 55%; grid-template-rows: auto; column-gap: 40px;">
                        <div class="head" style="padding: 30px;">
                            <img src="../../icons/prom1.jpg" alt="the first promo image" class="promo-img" style="position: relative; height: 75%; width: 65%;">
                        </div>
                        <div class="body">
                            <h2 style="font-size: 1.4rem;">{{ promotionTitleThree }}</h2>
                            <p>{{ promotinTextTwo }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="about-us">
            <div class="container" style="width: 60%; margin: auto; background: white;">
                <div class="card" style="display: grid; grid-template-columns: repeat(2, 1fr); grid-template-rows: auto; column-gap: 2px;">
                    <div class="head" style="padding: 30px;">
                        <h1>About Us</h1>
                        <p>At EUOrganics, our mission is to deliver the finest organic foods directly to your doorstep. We offer a wide range of high-quality, ethically sourced, and sustainably produced organic products from trusted European farmers.</p>
                    </div>
                    <div class="img">
                        <img src="../../icons/organic-baked-goods-banner.jpeg" alt="" class="card-img" style="height: 250px; width: 100%;">
                    </div>
                </div>
            </div>
        </section>
        <section id="images" style="margin-top: 4x;">
            <div class="images" style="width: 60%; margin: auto; background: white; margin-top: 10px; text-align: center;">
                <h2 style="text-align: center; padding-top: 40px; text-transform: capitalize;">Products We Sell</h2>
                <div class="cards" style="display: grid; grid-template-columns: repeat(3, 1fr); grid-template-rows: auto; column-gap: 10px; padding-top: 10px; padding: 4px;">
                    <div class="card" style="margin-bottom: 16px;">
                        <div class="body">
                            <img src="../../icons/drink-banner.jpeg" alt="" class="card-img" style="height: 200px; width: 100%; border-radius: 4%;">
                            <p>Organic Drinks</p>
                        </div>
                        <div class="footer"></div>
                    </div>
                    <div class="card" style="margin-bottom: 16px;">
                        <div class="body">
                            <img src="../../icons/organic-baked-goods-banner.jpeg" alt="" class="card-img" style="height: 200px; width: 100%; border-radius: 4%;">
                            <p>Baked Products</p>
                        </div>
                        <div class="footer"></div>
                    </div>
                    <div class="card" style="margin-bottom: 16px;">
                        <div class="body">
                            <img src="../../icons/organic-snacks-banner.jpeg" alt="" class="card-img" style="height: 200px; width: 100%; border-radius: 4%;">
                            <p>Organic Snacks</p>
                        </div>
                        <div class="footer"></div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="container" style="margin-top: 30px; text-align: center; font-size: 0.9em; color: #666666; width: 60%; margin: auto; background: white;">
                <p style="font-family: Arial, sans-serif; font-size: 1.1rem; width: 90%; text-align: left; margin-top: 8px; padding-left: 20px; padding-top: 20px;">If you have any questions or need further assistance, feel free to reach out to our support team at <a href="mailto:support@yourdomain.com">{{support@yourdomain.com}}</a></p>
                <p style="font-family: Arial, sans-serif; font-size: 1.1rem; width: 90%; text-align: left; padding-left: 20px;">{{ website }}</p>
                <p style="font-family: Arial, sans-serif; font-size: 1.1rem; width: 90%; text-align: left; padding-left: 20px;">{{ supportPhoneNumber }}</p>
                <p style="font-family: Arial, sans-serif; font-size: 1.1rem; width: 90%; text-align: left; margin-top: 20px; padding-left: 20px;">Best regards,<br>The EUOrganics Team</p>
            </div>
        </footer>
    </main>
</body>
</html>
