<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body style="min-height: 90vh; max-height: 100vh; overflow: auto; margin: 0; padding: 0;">

    <main>

        <section id="registration" style="background: ghostwhite;">

            <div class="container" style="background: white; width: 70%; margin: auto; padding: 16px;">

                <div class="logo" style="position: relative; height: 200px; width: 200px; margin: auto;">
                    <img src="../../icons/logo.png" alt="" class="img-logo" style="height: 100%; width: 100%;">
                </div>

                <h1 class="center" style="text-align: center; font-family: fantasy; font-size: 2rem; color: rgb(6, 64, 6);">EU organics online store</h1>

                <div class="images" style="text-align: center;">
                    <div class="cards" style="display: grid; grid-template-columns: repeat(3, 1fr); grid-template-rows: auto; column-gap: 10px;">

                        <div class="card" style="margin-bottom: 16px;">
                            <div class="body">
                                <img src="../../icons/drink-banner.jpeg" alt="" class="card-img" style="height: 200px; width: 100%; border-radius: 4%;">
                            </div>
                            <div class="footer"></div>
                        </div>

                        <div class="card" style="margin-bottom: 16px;">
                            <div class="body">
                                <img src="../../icons/organic-baked-goods-banner.jpeg" alt="" class="card-img" style="height: 200px; width: 100%; border-radius: 4%;">
                            </div>
                            <div class="footer"></div>
                        </div>

                        <div class="card" style="margin-bottom: 16px;">
                            <div class="body">
                                <img src="../../icons/organic-snacks-banner.jpeg" alt="" class="card-img" style="height: 200px; width: 100%; border-radius: 4%;">
                            </div>
                            <div class="footer"></div>
                        </div>

                    </div>
                </div>

                <div class="content">
                    <p style="font-family: Arial, sans-serif; font-size: 1.5rem; width: 90%; text-align: left; margin-top: 8px;">Welcome to EUOrganics!</p>

                    <p style="font-family: Arial, sans-serif; font-size: 1.1rem; width: 90%; text-align: left; margin-top: 32px; margin-bottom: 32px; font-weight: bold;">Hi {{ username }}</p>

                    <p style="font-family: Arial, sans-serif; font-size: 1.1rem; width: 90%; text-align: left; margin-top: 8px; margin-bottom: 32px;">
                        Thank you for visiting EUOrganics, your premier destination for all things organic in the European Union. We are delighted to have you here!
                    </p>

                    <p style="font-family: Arial, sans-serif; font-size: 1.1rem; width: 90%; text-align: left; margin-top: 8px; margin-bottom: 32px;">
                        To join our community and gain access to exclusive content, offers, and updates about the best organic products and practices, please take a moment to complete your registration.
                    </p>

                    <p style="font-family: Arial, sans-serif; font-size: 1.1rem; width: 90%; text-align: left; margin-top: 8px; margin-bottom: 32px;">
                        To finalise your registration and start enjoying all the benefits EUOrganics has to offer, please verify your email address. Simply click the link below to confirm your email:
                    </p>

                    <a href="#" style="font-family: Arial, sans-serif; font-size: 1.1rem; color: blue; text-decoration: underline; margin-bottom: 64px;">Link to verify email here</a>

                    <p style="font-family: Arial, sans-serif; font-size: 1.1rem; width: 90%; text-align: left; margin-top: 32px; margin-bottom: 32px;">
                        Once verified, you'll have full access to explore our wide range of organic products, expert advice, and much more. We look forward to supporting you on your organic journey!
                    </p>

                    <p style="font-family: Arial, sans-serif; font-size: 1.1rem; width: 90%; text-align: left; margin-top: 8px; margin-bottom: 64px;">
                        If you have any questions or need assistance, don't hesitate to reach out to our support team.
                    </p>

                    <p style="font-family: Arial, sans-serif; font-size: 1.1rem; width: 90%; text-align: left; margin-top: 8px;">
                        Welcome aboard, and thank you for choosing EUOrganics!
                    </p>

                    <p style="font-family: Arial, sans-serif; font-size: 1.1rem; width: 90%; text-align: left; margin-top: 8px; font-weight: bolder;">Warm regards,</p>
                    <p style="font-family: Arial, sans-serif; font-size: 1.1rem; width: 90%; text-align: left; font-weight: bolder;">The EUOrganics Team</p>
                </div>

            </div>

        </section>

    </main>
</body>
</html>
