@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: 0.5s ease-in-out;
    text-decoration: none;
    
}

:root {
    /* font sizes */
    --font-size-sm:  0.9375rem; 
    --font-size-normal: 1rem;
    --font-size-md: 1.5rem;
    --font-size-lg: 2rem;

    /* widths */
    --global-width-md: 90%;

    /* colors */
    --light-green:  #278827;
    --dark-green: rgb(20, 97, 20);
    --dodger-blue:  #1E90FF;
    --secondary-color: #FF4500;


    --padding-sm: 8px;
    --padding-md: 16px;
    --padding-lg: 32px;
    --padding-xl: 64px;
}


body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

/* native elements */
a {
    color: black;
}

img,
button {
    cursor: pointer;
}


li {
    list-style-type: none;
}

/* The input fields */
input[type="search"] {
    font-family: "Poppins", sans-serif;
    width: 70%;
    height: 40px;
    padding: 2px;
    font-size: var(--font-size-normal);
}

input[type="number"] {
    text-align: center;
}

h1 {
    text-transform: capitalize;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}


/* The paddings */
.padding-sm {
    padding: var(--padding-sm);
}

.padding-md {
    padding: var(--padding-md);
}

.padding-lg {
    padding: var(--padding-lg);
}

.padding-xl {
    padding: var(--padding-xl);
}


/* colors */
.green-bg {
    background: var(--light-green);
    color: white;
    text-transform: uppercase;
}


/* fonts */
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

}



/* search button */
.search-btn {
    height: 40px;
    width: 25%;
    text-transform: uppercase;
}


/* The navigation elements */
nav {
    background: lavender;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  width: var(--global-width-md);
  margin: auto;
  
}

.nav-info {
   display: flex;
   gap: 20px;
}

.nav-icon-link {
    position: relative;
}

.nav-link:hover {
    color: var(--light-green);
    text-decoration: underline;
}


.nav-icon {
    height: 25px;
}

/* flex elements */
.space-between {
    display: flex;
    justify-content: space-between;
}

.flex-row {
    display: flex;
    width: 60%;
}



/* sections */
#main .container {

    /* grid elements */
    display: grid;
    grid-template-columns: 18% 82%;
    column-gap: 4px;


    margin: auto;
    width: var(--global-width-md);
    
   
}

/* The main section */
#main .menu {
   display: flex;
   justify-content: space-between;
}

#main .container .sidebar .categories div {
   display: flex;
   flex-direction: column;
}

#main {
    margin-top: 20px;
}

.logo-text {
    color: green;
    font-size: 1.3rem;
    font-family: cursive;
    font-weight: bold;
    padding-bottom: 2px;

  }


.logo-img {
    height: 200px;
    width: 200px;
}


.main-image {
    height: 230px;
    width: 100%;
    object-fit: cover;
}

.main .body {
    display: grid;
    grid-template-columns: 80% 20%;
    row-gap: 10px;
}

.main .footer {
    display: flex;
    gap: 10px;
}


.main-phone {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}


/* The call to action */
.call-to-action {

    background: #eBebeb;
    border: 1px solid lavender;
    cursor: pointer;
    height: 480px;
    
    /* flex elements */
    display: flex;
    justify-content: space-between;

    /* margin and paddings */
    margin-top: 10px;
    padding: 100px;
    
   
}


/* The categories */

.categories  {
    border: 1px solid lavender;
}

.categories .header {

    border-bottom: 1px solid lavender;
    background: var(--light-green);
    text-align: center;

    /* paddings */
    padding-bottom: 10px;
    padding-top: 10px;
 
}

.categories .header a {
    color: white;
}

.categories .body a {
   border-bottom: 1px solid lavender;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 14.5%;
  
   text-align: left;
  
}

.categories .body a:hover {
    background: lavender;
    color: var(--light-green);
    font-weight: bold;
}


/* The featured */
#featured .container {
    width: var(--global-width-md);
    margin: auto;

}

.featured__featured-categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;

    column-gap: 5px;
    margin-top: 10px;
   
    
}

.featured__featured-categories__display-text {
    position: relative;
    top: 25%;
    text-transform: capitalize;
    font-weight: 300;
}

.featured__featured-categories_display_img {
    height: 150px;
    width: 150px;
    top: 20%;
}

.featured_product__label {
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 4px;
    padding-top: 4px;
  }


/* featured products */

.featured-products__container h1{
    width: var(--global-width-md);
    margin: auto;
    padding-top: 64px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.56rem;
}

.featured-products__container__cards{

    width: var(--global-width-md);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1px;
}

.featured_product__label {
    position: absolute;
}

.featured-products__container__cards__product_menu {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 20px;
    padding-top: 10px;
    display: none;
}

.featured-products__container__cards__product_menu.show {
   display: flex;
}

.featured-products__container__cards .card {
    position: relative;
}




.card-img {
    height: 150px;
    width: 224px;
}

.img_2 {
    display: none;
}



.box {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

/* The site logo */
.logo,
.links {
    padding-bottom: 10px;
}


/* links */
.links {
    display: flex;
    gap: 50px;
    padding-bottom: 20px;

}

.links a {
    font-size: var(--font-size-sm);
    text-transform: uppercase;
    font-weight: 500;

}

.nav-link:hover,
.links a:hover {
    color: var(--light-green);

}


.account {
    display: flex;
    gap: 20px;

    text-transform: uppercase;
}


/* The header class sizes */
.large-header {
    font-size: 48px;
    font-weight: bolder;
    text-transform: uppercase;
}

.medium-header {
    font-size: 32px;
    font-weight: bolder;
    text-transform: uppercase;
}

.small-header {
    font-size: 20px;
    text-transform: uppercase;
    color: var(--light-green);
}


/* utilities */
.center {
    
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}


.p-title {
    text-transform: capitalize;
    color: black;
    font-weight: bolder;
}

.text-upper {
    text-transform: uppercase;
}

.subtitle {
    font-size: 13px;
}


.box {
    border: 3px solid lavender;
    cursor: pointer;
  
}

.word-wrap {
    width: var(--global-width-md);
    overflow-wrap: break-word;
}


hr {
    width: var(--global-width-md);
    margin: auto;
    color: lavender;
    margin-bottom: 20px;
}


/* Custom buttons */
.button-md {
  
    width: 40%;
    color: white;

    cursor: pointer;
      
}

.shop-btn {
    margin-top: 10px;
    height: 40px;
    text-transform: uppercase;
    color: white;
    background: var(--light-green);
}

.bold {
    font-weight: bold;
}

.light-bold {
    font-weight: 500;
}

/* icons */
.email-icon {
    transform: translateY(8px);
}

.card-icon {
    height: 35px;
    width: 35px;
  
    border: 1px solid white;
    border-radius: 50%;
    padding: 4px;
    background: white;
    opacity: 0.8;
      
}



/* quick view container */

#quick-view {
    
    background: white;
    border: 1px solid #348634;
    padding: 20px;

    /* The positioning elements */
    position: fixed;
    top: 0;
    right: 10%;
    left: 10%;
    bottom: 45%;

    /* The size elements */
    height: 675px;
    width: 84%;

    /* box shadow */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
    display: none;
}


.quick-view__button-display {
    background: white;
    border: 2px solid #348634;
}


button:hover,
.quick-view__button-display:hover {
    background: black;
    color: white;
}

.quick-view__main-img {

    position: relative;
    height: 457px;
    width: 96%;
    border: 1px solid;
    margin-right: 22px;

    border: 2px solid lavender;
}


.quick-view .container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}

.side-img {
    height: 100px;
    width: 100px;
    margin-right: 2px;
    border: 2px solid lavender;
    background: lavender;
  }

.quick-view__img {
    display: grid;
}

.quick-view__side-img {
    margin-top: 1px;
}

.quick-view__image-info p {
    padding-top: 1px;
    padding-bottom: 1px;
}

.quick-view__image-info__description {
    font-weight: 200;
}

.quick-view__main-pic {
    cursor: pointer;
    object-fit: cover;
   
    
    /* postions */
    position: absolute;

    /* sizes */
    width: 100%;
    height: 100%;
}

.quick-view__choice {
    display: flex;
    gap: 2px;
    text-align: center;
}

.quick-view__item_quantity {
    border: 1px solid green;
    width: 25%;
    height: 30px;
    color: white;
    background: var(--dark-green);
    text-align: center;
    opacity: 0.4;
    text-transform: uppercase;
  }

 


.link-btn {
    color: darkgreen;
    font-size: var(--font-size-sm);
    width: 20%;
    border: 1px solid black;
    padding: var(--padding-sm);
}


.active {
    background: var(--dark-green);
    color: white;
}

.clear-cart-btn,
.add-to-cart >* {
    height: 30px;
    margin-top: 20px;
    font-size: var(--font-size-sm);
    text-transform: uppercase;
    width: 25%;
   
}

.clear-cart-btn {
    background: #FF4500;
    width: 40%;
}



.button-lg {
    width: 50%;
    background: var(--dark-green);
    color: white;
}

.add-to-cart-btn {
    width: 25%;
}

.item-choice {
    margin-top: 1px;
    margin-bottom: 1px;
}

.item-title {
    margin-bottom: 1px;
}

.item-price {
    font-size: 1.5rem;
    color: var(--dark-green);
    font-weight: 400;
}

.quick-view__image-info hr {
    width: 100%;
}

.checkout,
.add-to-wishlist  {
    margin-top: 20px;
}

/* buttons */
.proceed-to-checkout-btn {
    background: var(--dark-green);
    color: white;
}

.continue-shopping-btn {
    background: var(--dodger-blue);
    color: white;
}

/* icons */
.close-icon {
    height: 40px;
    width: 40px;
}

.close-icon:hover {
    transform: rotate(360deg);
    transition: transform 0.3s ease-in-out;
}

#close-icon {

    position: absolute;
    top: 0;
    right: 0;
      
}

.addToItem-logged-msg,
.wishlist-logged-msg {
    
    display: flex;
    border: 3px solid lavender;
    width: 60%;
    justify-content: space-between;
    position: fixed;
    top: 26%;
    left: 20%;
    background: white;
    right: 50%;
    padding: 40px;
    z-index: 10000;
    display: none;
  }


  .dim-overlay  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 9999;
    display: none;
}


/* cart items */
.item-cart-img {
    height: 25px;
    position: absolute;
    position: relative;
  
}


.item-cart {
    background: red;
    padding: 4px;
    text-align: center;
    width: 30px;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -23px;
    right: -17px;
    display: none;
  }
  

  /* The banner */
  #banner {
    width: var(--global-width-md);
    margin: auto;
  }

  #banner .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    margin-top: 100px;
    cursor: pointer;
  }


  .banner {
    position: relative;
  }

  .banner__text-overlay {
    color: white;
    position: absolute;
    top: 20%;
    left: 15px;
    width: 50%;
  }

  .banner__text {
    text-transform: capitalize;
    font-size: var(--font-size-md);
  }

  .banner__text:nth-child(2) {
    font-weight: 600;
    padding-top: 5px;
  }

  .banner__text:last-child {
    font-size: 1.125em;
    margin-top: 5px;
    text-decoration: underline;
    text-transform: uppercase;
  }

  .banner__sales_display {
    font-size: 1.15rem;
    text-transform: uppercase;
  }

  .banner-img {
    width: 100%;
    border-radius: 2%;
  }

  .banner-img:hover {
    transform: scale(1.02);
    opacity: 0.9;
    
  }


  /* The subscribe section */

  .subscribe {
    padding-top: 50px;
    padding-bottom: 50px;
    background: var(--light-green);
    margin-top: 60px;
    border-top: 1px solid green;
    border-bottom: 2px solid green;
    color: white;
  }


  .subscribe__form__input-field {
    width: 60%;
    font-size: var(--font-size-normal);
    font-family: "Poppins", sans-serif;
  }

  .subscribe__information p:first-child {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .subscribe__information p:last-child {
    font-size: 1.125rem;
    font-weight: 400;
  }


  .subscribe__form__input-field,
  .subscribe-btn {
    height: 40px;

  }

  .subscribe-btn {
    width: 25%;
    font-family: "Poppins", sans-serif;
    background: var(--dark-green);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
  }

  .subscribe .container {
    width: var(--global-width-md);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }



  footer {
    background-color: #6B8E23; /* Olive Drab */
    color: #FFFFFF; /* White text for readability */
    font-weight: 700;
    
  }

  footer .container {
     width: var(--global-width-md);
     margin: auto;

     display: grid;
     grid-template-columns: repeat(5, 1fr);
     grid-template-rows: auto;

     padding-top: 40px;
  }


  footer .container h4 {
    font-weight: 800;
    text-transform: capitalize;
    padding-bottom: var(--padding-sm);
    color: white;
  }


  .footer-section {
    margin-bottom: 30px;
  }


  .footer-section ul li {
    padding-bottom: 3px;
   
  }

  .footer-section ul li a {
    color: white;
    font-weight: lighter;
    text-transform: capitalize;
  }

  .footer-section ul li a:hover {
    color: var(--dodger-blue);
  }

  .footer-section ul li:hover {
    text-decoration: underline;
    color: #1E90FF;
  }

  .footer ul li:last-child {
    padding-bottom: 0;
  }


.contact-us ul li a:first-child {
    text-transform: lowercase;
}