@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: 0.5s ease-in-out;
    text-decoration: none;

}

:root {
    /* font sizes */
    --font-size-sm: 0.9375rem;
    --font-size-normal: 1rem;
    --font-size-md: 1.5rem;
    --font-size-lg: 2rem;

    /* widths */
    --global-width-md: 90%;

    /* colors */
    --light-green: #278827;
    --dark-green: rgb(20, 97, 20);
    --dodger-blue: #1E90FF;
    --secondary-color: #FF4500;


    --padding-sm: 8px;
    --padding-md: 16px;
    --padding-lg: 32px;
    --padding-xl: 64px;
}


body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

/* native elements */

a {
    color: black;
}


hr {
    color: lavender;
    margin: auto;
    margin-bottom: 20px;
    width: var(--global-width-md);

}

img,
button {
    cursor: pointer;
}

img:hover {
    opacity: 0.8;
}


li {
    list-style-type: none;
}


/* The input fields */
input[type="search"] {

    /* fonts */
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-normal);

    /* sizes */
    height: 40px;
    width: 70%;

    /* paddings */
    padding: 2px;
}


input[type="number"] {
    text-align: center;
}


/* header elements */
h1,
h2,
h3,
h4,
h5 {
    font-family: "Poppins", sans-serif;
}

h1 {

    font-weight: 500;
    font-size: 1.56rem;
    text-transform: capitalize;
}

h2 {
    font-weight: 400;
}


fieldset {
    border: none;
}


/* The paddings */
.padding-sm {
    padding: var(--padding-sm);
}

.padding-md {
    padding: var(--padding-md);
}

.padding-lg {
    padding: var(--padding-lg);
}

.padding-xl {
    padding: var(--padding-xl);
}


/* colors */
.green-bg {
    background: var(--light-green);
    color: white;
    text-transform: uppercase;
}


/* fonts */
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

}


/* search button */
.search-btn {
    height: 40px;
    width: 25%;
    text-transform: uppercase;
}


/* The navigation elements */
nav {
    background: lavender;
}

.nav-container {

    font-size: var(--font-size-normal);

    /* flex elements */
    display: flex;
    justify-content: space-between;

    /* sizes */
    margin: auto;
    width: var(--global-width-md);

}

.nav-container__account {
    display: flex;
    gap: 20px;
    text-transform: uppercase;
}


.nav-icon {
    height: 25px;
}


.nav-icon-link {
    position: relative;
}

.nav-info {
    display: flex;
    gap: 20px;
}

.nav-link:hover {
    color: var(--light-green);
    text-decoration: underline;
}


/* flex elements */

.flex-row {
    display: flex;
    width: 60%;
}

.space-between {
    display: flex;
    justify-content: space-between;
}



/* sections */
#main .container {

    /* grid elements */
    display: grid;
    grid-template-columns: 18% 82%;
    column-gap: 4px;

    margin: auto;
    width: var(--global-width-md);

}


/* The main section */
#main {
    margin-top: 20px;
}


#main .container .sidebar .categories div {
    display: flex;
    flex-direction: column;
}

#main .menu {
    display: flex;
    justify-content: space-between;
}

.main-phone {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.main-image {
    height: 230px;
    width: 100%;
    object-fit: cover;
}

.main .body {
    display: grid;
    grid-template-columns: 80% 20%;
    row-gap: 10px;
}

.main .footer {
    display: flex;
    gap: 10px;
}



/* The logo elements */
.logo-text {
    color: green;
    font-size: 1.3rem;
    font-family: cursive;
    font-weight: bold;
    padding-bottom: 2px;

}


.logo-img {
    height: 200px;
    width: 200px;
}



/* The call to action */
.call-to-action {

    background: #eBebeb;
    border: 1px solid lavender;
    cursor: pointer;
    height: 480px;

    /* flex elements */
    display: flex;
    justify-content: space-between;

    /* margin and paddings */
    margin-top: 10px;
    padding: 100px;

}


/* The categories */
.categories {
    border: 1px solid lavender;
}

.categories .header {

    border-bottom: 1px solid lavender;
    background: var(--light-green);
    text-align: center;

    /* paddings */
    padding-bottom: 10px;
    padding-top: 10px;

}

.categories .header a {
    color: white;
}

.categories .body a {
    border-bottom: 1px solid lavender;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 14.5%;
    text-align: left;

}

.categories .body a:hover {
    background: lavender;
    color: var(--light-green);
    font-weight: bold;
}


/* The featured */
#featured .container {
    width: var(--global-width-md);
    margin: auto;

}

.featured__featured-categories {

    /* grid elements */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;

    /* column gap elements */
    column-gap: 5px;

    /* margin */
    margin-top: 10px;


}

.featured__featured-categories__display-text {

    /* fonts */
    font-weight: 300;
    text-transform: capitalize;

    /* position elements */
    position: relative;
    top: 25%;

}

.featured__featured-categories_display_img {

    height: 150px;
    width: 150px;

}

.featured_product__label {
    font-size: 0.75rem;
    padding-left: 4px;
    padding-top: 4px;
    text-transform: uppercase;
}



/* featured products */
.featured-products__container h1 {
    font-size: 1.56rem;
    margin: auto;
    padding-top: 64px;
    width: var(--global-width-md);

}


.featured-products__container__cards {

    margin: auto;
    width: var(--global-width-md);

    /* grid positioning */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1px;
}

.featured_product__label {
    position: absolute;
}

.featured-products__container__cards__product_menu {

    display: none;

    /* positioning elements */
    position: absolute;
    top: 0;
    right: 0;

    /* padding */
    padding-right: 20px;
    padding-top: 10px;


}

.featured-products__container__cards__product_menu.show {
    display: flex;
}

.featured-products__container__cards .card {
    position: relative;
}



/* card elements */
.card-img {
    height: 150px;
    width: 224px;
}


/* images */
.img_2 {
    display: none;
}


/* display box */
.box {

    border: 3px solid lavender;
    cursor: pointer;
    padding: 15px;

    /* flex elements */
    display: flex;
    justify-content: space-between;
}

/* The site logo */
.logo,
.links {
    padding-bottom: 10px;
}


/* links */
.links {
    display: flex;
    gap: 50px;
    padding-bottom: 20px;

}

.links a {
    font-size: var(--font-size-sm);
    text-transform: uppercase;
    font-weight: 500;

}

.nav-link:hover,
.links a:hover {
    color: var(--light-green);

}




/* The header class sizes */
.large-header {
    font-size: 48px;
    font-weight: bolder;
    text-transform: uppercase;
}

.medium-header {
    font-size: var(--font-size-lg);
    font-weight: bolder;
    text-transform: uppercase;
}

.small-header {
    color: var(--light-green);
    font-size: 1.25rem;
    text-transform: uppercase;

}


/* utilities */


.bold {
    font-weight: bold;
}

.light-bold {
    font-weight: 500;
}


.center {

    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}


.p-title {
    text-transform: capitalize;
    color: black;
    font-weight: bolder;
}

.text-upper {
    text-transform: uppercase;
}

.subtitle {
    font-size: 0.8125rem;
}


.word-wrap {
    width: var(--global-width-md);
    overflow-wrap: break-word;
}


/* Custom buttons */
.button-md {

    color: white;
    cursor: pointer;
    width: 40%;

}

.shop-btn {
    margin-top: 10px;
    height: 40px;
    text-transform: uppercase;
    color: white;
    background: var(--light-green);
}


/* icons */
.rating-star {
    height: 25px;
    width: 20px;
}
.email-icon {
    transform: translateY(8px);
}

.card-icon {
    background: white;
    border: 1px solid white;
    border-radius: 50%;
    padding: 4px;
    opacity: 0.8;

    /* sizes */
    height: 35px;
    width: 35px;

}


/* quick view container */

#quick-view {

    background: white;
    border: 1px solid #348634;
    display: none;
    padding: 20px;

    /* The positioning elements */
    position: fixed;
    top: 0;
    right: 10%;
    left: 10%;
    bottom: 45%;

    /* The size elements */
    height: 675px;
    width: 84%;

    /* box shadow */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    
}


.quick-view__button-display {
    background: white;
    border: 2px solid #348634;
}


button:hover,
.quick-view__button-display:hover {
    background: black;
    color: white;
}

.quick-view__main-img {

    border: 2px solid lavender;
    position: relative;
    margin-right: 22px;

    /* sizes */
    height: 457px;
    width: 96%;  
}


.quick-view .container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}

.side-img {

    border: 2px solid lavender;
    background: lavender;
    
    /* sizes */
    height: 100px;
    width: 100px;
 
    /* margins */
    margin-right: 2px;
 
}

.quick-view__img {
    display: grid;
}

.quick-view__side-img {
    margin-top: 1px;
}

.quick-view__image-info p {
    padding-top: 1px;
    padding-bottom: 1px;
}

.quick-view__image-info__description {
    font-weight: 200;
}

.quick-view__main-pic {
    cursor: pointer;
    object-fit: cover;

    /* postions */
    position: absolute;

    /* sizes */
    width: 100%;
    height: 100%;
}

.quick-view__choice {
    display: flex;
    gap: 2px;
    text-align: center;
}

.quick-view__item_quantity {
    border: 1px solid green;
    background: var(--dark-green);
    color: white;
   
    /* sizes */
    height: 30px;
    width: 25%;

    /* text properties */
    text-align: center;
    text-transform: uppercase;
    opacity: 0.4;
   
}






.active {
    background: var(--dark-green);
    color: white;
}

.clear-cart-btn,
.add-to-cart>* {
    height: 30px;
    margin-top: 20px;
    font-size: var(--font-size-sm);
    text-transform: uppercase;
    width: 25%;

}

.clear-cart-btn {
    background: #FF4500;
    width: 40%;
}



.button-lg {
    width: 50%;
    background: var(--dark-green);
    color: white;
}

.add-to-cart-btn {
    width: 25%;
}

.item-choice {
    margin-top: 1px;
    margin-bottom: 1px;
}

.item-title {
    margin-bottom: 1px;
}

.item-price {
    font-size: 1.5rem;
    color: var(--dark-green);
    font-weight: 400;
}

/* .quick-view__image-info hr {
    width: 100%;
} */

.checkout,
.add-to-wishlist {
    margin-top: 20px;
}

/* buttons */
.proceed-to-checkout-btn {
    background: var(--dark-green);
    color: white;
}

.continue-shopping-btn {
    background: var(--dodger-blue);
    color: white;
}

.link-btn {

    border: 1px solid black;
    color: darkgreen;
    font-size: var(--font-size-sm);
    padding: var(--padding-sm);
    width: 20%;
}


/* icons */
.close-icon {
    height: 40px;
    width: 40px;
}

.close-icon:hover {
    transform: rotate(360deg);
    transition: transform 0.3s ease-in-out;
}

#close-icon {

    position: absolute;
    top: 0;
    right: 0;

}


/* messages */
.addToItem-logged-msg,
.wishlist-logged-msg {

    background: white;
    border: 3px solid lavender;
    padding: 40px;
    width: 60%;
    z-index: 10000;

    /* flex */
    display: flex;
    justify-content: space-between;
   
    /* positioning */
    position: fixed;
    top: 26%;
    left: 20%;
    right: 50%;

    /* visibility */
    display: none;
}


/* overlay */
.dim-overlay {

    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    display: none;

    /* positoning */
    position: fixed;
    top: 0;
    left: 0;

    /* sizes */
    width: 100%;
    height: 100%;
   
    
   
}


/* cart items */
.item-cart-img {
    height: 25px;
    position: relative;

}


.item-cart {
    background: red;
    border-radius: 50%;
    color: white;
    padding: 4px;
    text-align: center;

    width: 30px;
    
    /* positioning */
    position: absolute;
    top: -23px;
    right: -17px;

    /* visibility */
    display: none;
}


/* The banner */
#banner {
    width: var(--global-width-md);
    margin: auto;
}

#banner .container {

    cursor: pointer;
    margin-top: 100px;

    /* grid elements */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 10px;
}


.banner {
    position: relative;
}

.banner__text-overlay {

    color: white;
    width: 50%;

    /* positioning */
    position: absolute;
    top: 20%;
    left: 15px;
    
}

.banner__text {
    text-transform: capitalize;
    font-size: var(--font-size-md);
}

.banner__text:nth-child(2) {
    font-weight: 600;
    padding-top: 5px;
}

.banner__text:last-child {
    font-size: 1.125em;
    margin-top: 5px;
    text-decoration: underline;
    text-transform: uppercase;
}

.banner__sales_display {
    font-size: 1.15rem;
    text-transform: uppercase;
}

.banner-img {
    width: 100%;
    border-radius: 2%;
}

.banner-img:hover {
    transform: scale(1.02);
    opacity: 0.9;

}




/* testimonals sections */

#testimonals {
    background: lavender;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 100px;
}

#testimonals .container h1 {
    color: darkgreen;
    font-size: 2rem;
    font-weight: 300;
    padding-top: 72px;
  
   
  
   
}

#testimonals .container hr {
    margin: 0;
    margin-bottom: 48px;
    margin-top: 8px;
    width: 100%;
}
#testimonals .container {
    
    cursor: pointer;
    margin: auto;
    overflow: hidden; 
    width: var(--global-width-md);
   
    /* positoning */
    position: relative;
    z-index: 1000;

  
   
}

#testimonals .container .cards {

    transition: transform 0.5s ease-in-out;
    will-change: transform; 

    /* flex elements */
    display: flex;

    /* position elements */
    position: relative;
    z-index: 999;

    
}

/* Carousel elements */
#testimonals .container .cards .card-carousel {

    background: white;
    border: 2px solid lavender;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    height: 280px;

   
    margin-bottom: 2px;
    padding: 8px;
    padding-top: 48px;
    padding-left: 60px;
    padding-right: 60px;

    /* flex elements which ensure that each card takes full width of the container  */
    flex: 0 0 100%;      
   
    /* position elements */
    position: relative;
    z-index: 700;
   
}

.carousel-img {
    border-radius: 50%;
    height: 80px;
    width: 80px;
  
}

.carousel__name {
    transform: translateY(30px);
    font-weight: 400;
}


#testimonals .container .cards .card-carousel .footer {
   padding-top: 8px;

  /* flex elements */
  display: flex;
  gap: 10px;
}

#testimonals .container .cards .card-carousel .body {
   font-style: italic;
 }


.carousel-button {

    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
    color: white;
    padding: 10px;
   
    /* position elements */
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    z-index: 1001;
}

/* The left and right button are the carets */
.left-button {
    left: 10px;
}

.right-button {
    right: 10px;
}

/* end of carousel elements */
    



/* The latest section update */
#lastest-updates {
    margin-top: 72px;
}

#lastest-updates>div:nth-child(1)>hr:nth-child(2) {
  
    margin: auto;
    margin-bottom: 20px;
    width: 100%;
}

#lastest-updates .container {
    margin: auto;
    width: var(--global-width-md);
}


#lastest-updates .container .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;

}

#lastest-updates .container .cards .card {
    width: 95%;
}

#lastest-updates .container .cards .card .body h4 {
    padding-bottom: 8px;
}

#lastest-updates .container .cards .card .footer {
    margin-top: 8px;
}


.lastest-updates__img {
    height: 300px;
    width: 335px;
}


#lastest-updates .container h1 {
    font-size: 1.56rem;
}

.latest-updates__p_date {
    font-weight: 200;
    font-size: var(--font-size-sm);
}


/* The subscribe section */

.subscribe {

    background: var(--light-green);
    border-top: 1px solid green;
    border-bottom: 2px solid green;
    color: white;

    /* padding */
    padding-top: 50px;
    padding-bottom: 50px;
  
    /* margin */
    margin-top: 60px;
   
}


.subscribe-title {
    font-weight: 600;
}

.subscribe__form__input-field {
    font-size: var(--font-size-normal);
    font-family: "Poppins", sans-serif;
    width: 60%;
}

.subscribe__information p:first-child {
    font-size: 1.5rem;
    font-weight: bold;
}

.subscribe__information p:last-child {
    font-size: 1.125rem;
    font-weight: 400;
}


.subscribe__form__input-field,
.subscribe-btn {
    height: 40px;

}

.subscribe-btn {
    background: var(--dark-green);
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    width: 25%;
}

.subscribe .container {
    width: var(--global-width-md);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


/* The footer elements */
footer {

    /* Olive Drab */
    background-color: #6B8E23;    
    color: #FFFFFF;
    font-weight: 700;

}

footer .container {
   
    padding-top: 40px;
    margin: auto;
    width: var(--global-width-md);

    /* grid elements */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;

   
}


footer .container h4 {
    color: white;
    font-weight: 800;
    padding-bottom: var(--padding-sm);
    text-transform: capitalize;

}



.footer-section {
    margin-bottom: 30px;
}


.footer-section ul li {
    padding-bottom: 3px;

}

.footer-section ul li a {
    color: white;
    font-weight: lighter;
    text-transform: capitalize;
}

.footer-section ul li a:hover {
    color: var(--dodger-blue);
}

.footer-section ul li:hover {
    text-decoration: underline;
    color: #1E90FF;
}

.footer ul li:last-child {
    padding-bottom: 0;
}


.contact-us ul li a:first-child {
    text-transform: lowercase;
}


/* For screen readers only */
.visually-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    position: absolute;
    overflow: hidden;


    padding: 0;
    margin: -1px;

    /* sizes */
    width: 1px;
    height: 1px;
 
}

