<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.2/dist/sweetalert2.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="../../../static/img/display/jpg/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../../../static/css/csss.css">
    <title>account</title>
</head>

<body>
    <div class="dim-overlay" id="dimOverlay"></div>

    <!-- The navigation  -->
    <nav aria-label="Main navigation">
        <div class="nav-container">
            <div class="nav-info nav-body">
                <div class="nav-container__shipping">
                    <a href="#" aria-label="Free shipping information" class="nav-link">Free shipping</a>
                </div>
            </div>

            <div class="nav-info nav-footer">
                <div class="nav-container__account">
                    <a href="#" aria-label="View account" class="nav-link">My account</a>
                    
                    <div class="nav-container__account__dropdown-menu my-account">
                        <div class="my-account__container">
                            <div class="buy-it-again">
                                <h4>Buy it Again</h4>
                                <a href="#" class="dropdown-menu-link">View All && Manage</a>

                                <div class="buy-it-again__container">
                                    <div class="item">
                                        <div class="item-img">
                                            <a href="#"><img src="../../../static/img/display/jpg/avacodo.jpg"
                                                    alt="An image of item bought" class="bought-item-img"></a>
                                        </div>

                                        <div class="item-info">
                                            <ul>
                                                <li><a href="#" class="dropdown-menu-link">Avacado</a></li>
                                                <li>£5.99</li>
                                                <li><button class="button-sm buy-it-again-btn">Add to cart</button></li>
                                            </ul>

                                        </div>
                                    </div>

                                    <!-- item 2 -->
                                    <div class="item">
                                        <div class="item-img">
                                            <a href="#"><img src="../../../static/img/display/jpg/box-of-oranges.jpeg"
                                                    alt="An image of item bought" class="bought-item-img"></a>

                                        </div>

                                        <div class="item-info">
                                            <ul>

                                                <li><a href="#" class="dropdown-menu-link">Bulk Pack Organic Sicilian
                                                        Orange</a></li>

                                                <li>£15.99</li>
                                                <li><button class="button-sm buy-it-again-btn">Add to cart</button></li>
                                            </ul>

                                        </div>
                                    </div>

                                    <!-- item 3 -->
                                    <div class="item">
                                        <div class="item-img">
                                            <a href="#"><img src="../../../static/img/display/jpg/cashew.jpg"
                                                    alt="An image of item bought" class="bought-item-img"></a>

                                        </div>

                                        <div class="item-info">
                                            <ul>

                                                <li><a href="#" class="dropdown-menu-link">Cashew, Almonds And Mint
                                                        Seeds</a></li>

                                                <li>£10.49</li>
                                                <li><button class="button-sm buy-it-again-btn">Add to cart</button></li>
                                            </ul>

                                        </div>
                                    </div>

                                    <!-- item 4 -->
                                    <div class="item">
                                        <div class="item-img">
                                            <a href="#"><img src="../../../static/img/display/jpg/turkish-mullberries.jpg"
                                                    alt="An image of item bought" class="bought-item-img"></a>

                                        </div>

                                        <div class="item-info">
                                            <ul>
                                                <li><a href="#" class="dropdown-menu-link">Natural Kashmiri Turkish
                                                        Walnuts</a></li>
                                                <li>£20.99</li>
                                                <li><button class="button-sm buy-it-again-btn">Add to cart</button></li>
                                            </ul>

                                        </div>
                                    </div>



                                </div>
                            </div>

                            <div class="my-account__main">
                                <div class="header center">
                                    <a href="#" class="dropdown-menu-link">Manage profiles &gt;</a>
                                </div>
                                <div class="my-account__main__container">
                                    <div class="your-lists">
                                        <h4>My Lists</h4>
                                        <ul class="my-account__links">
                                            <li><a href="#" class="dropdown-menu-link">Wishlist</a></li>
                                            <li><a href="#" class="dropdown-menu-link">Create a wishlist</a></li>
                                        </ul>
                                    </div>

                                    <div class="my-account">
                                        <h4>Account</h4>
                                        <ul class="my-account__links">
                                            <li><a href="../account/account.html" class="dropdown-menu-link">my account</a></li>
                                            <li><a href="../orders/orders.html" class="dropdown-menu-link">my orders</a></li>
                                            <li><a href="#" class="dropdown-menu-link">my list</a></li>
                                            <li><a href="#" class="dropdown-menu-link">My addresses</a></li>
                                            <li><a href="#" class="dropdown-menu-link">Payment methods</a></li>
                                            <li><a href="#" class="dropdown-menu-link">Account settings</a></li>
                                            <li><a href="#" class="dropdown-menu-link">Change password</a></li>
                                            <li><a href="#" class="dropdown-menu-link">Sign out</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="administration__container">

                        </div>
                    </div>
                    <a href="#" aria-label="logged in" class="nav-link logged-in">Hi, Egbie (logged in)</a>
                </div>
            </div>
        </div>
    </nav>


    <main>
        <section id="account" aria-labelledby="account-heading">
            <div class="content-container">
                <div class="logo center">
                    <a href="../../../index.html">
                        <img src="../../../static/img/display/jpg/logo.png" alt="The logo" class="account-logo-img">
                    </a>
                
                </div>
                <ul class="breadcrumb">
                    <li><a href="../../../index.html">Home</a></li>
                    <li>My account</li>
                
                </ul>
                <h1 id="account-heading" class="padding-top-md lighten">My Account</h1>
                <p class="account-info">Manage user account</p>
                <hr class="dividor">
                <div class="account__options cards">
                    <a href="#" aria-labelledby="login-security-heading" class="card-link">
                        <div class="card-grid">
                            <div class="head">
                                <img src="../../../static/img/icons/closed-lock-with-key.svg" alt="Locked key icon" class="account-icon">
                            </div>
                            <div class="body">
                                <p id="login-security-heading" class="title">Login & Security</p>
                                <p>Manage password, emails, and passwords</p>
                            </div>
                        </div>
                    </a>
                    <a href="../orders/orders.html" aria-labelledby="orders-heading" class="card-link">
                        <div class="card-grid">
                            <div class="head">
                                <img src="../../../static/img/icons/shopping-bags.svg" alt="Shopping bags icon" class="account-icon">
                            </div>
                            <div class="body">
                                <p id="orders-heading">Your Orders</p>
                                <p>Track, cancel an order, download an invoice or buy again</p>
                            </div>
                        </div>
                    </a>
                    <a href="#" aria-labelledby="addresses-heading" class="card-link">
                        <div class="card-grid">
                            <div class="head">
                                <img src="../../../static/img/icons/address-book.svg" alt="Address book icon" class="account-icon">
                            </div>
                            <div class="body">
                                <p id="addresses-heading">Manage Addresses</p>
                                <p>Edit, remove, or set default address</p>
                            </div>
                        </div>
                    </a>
                    <a href="#" aria-labelledby="wishlist-heading" class="card-link">
                        <div class="card-grid">
                            <div class="head">
                                <img src="../../../static/img/icons/red-heart.svg" alt="Red heart icon" class="account-icon">
                            </div>
                            <div class="body">
                                <p id="wishlist-heading">Wishlist</p>
                                <p>Track, edit, or create a new wishlist</p>
                            </div>
                        </div>
                    </a>
                    <a href="../../account/reviews/reviews-and-feedback.html" aria-labelledby="reviews-heading" class="card-link">
                        <div class="card-grid">
                            <div class="head">
                                <img src="../../../static/img/icons/comments.svg" alt="Comments icon" class="account-icon">
                            </div>
                            <div class="body">
                                <p id="reviews-heading">Manage Your Reviews</p>
                                <p>View or create a new review</p>
                            </div>
                        </div>
                    </a>
                    <a href="#" aria-labelledby="payments-heading" class="card-link">
                        <div class="card-grid">
                            <div class="head">
                                <img src="../../../static/img/icons/paypal.svg" alt="Paypal icon" class="account-icon">
                            </div>
                            <div class="body">
                                <p id="payments-heading">Your Payments</p>
                                <p>Manage or add payment methods and view all past transactions</p>
                            </div>
                        </div>
                    </a>
                    <a href="#" aria-labelledby="profile-heading" class="card-link">
                        <div class="card-grid">
                            <div class="head">
                                <img src="../../../static/img/icons/person-add.svg" alt="Person add icon" class="account-icon">
                            </div>
                            <div class="body">
                                <p id="profile-heading">Profile Information</p>
                                <p>View and edit your personal information</p>
                            </div>
                        </div>
                    </a>
                    <a href="#" aria-labelledby="subscriptions-heading" class="card-link">
                        <div class="card-grid">
                            <div class="head">
                                <img src="../../../static/img/icons/rss.svg" alt="RSS feed icon" class="account-icon">
                            </div>
                            <div class="body">
                                <p id="subscriptions-heading">Subscriptions</p>
                                <p>Manage your subscriptions and memberships</p>
                            </div>
                        </div>
                    </a>
                    <a href="#" aria-labelledby="saved-items-heading" class="card-link">
                        <div class="card-grid">
                            <div class="head">
                                <img src="../../../static/img/icons/save.svg" alt="Save icon" class="account-icon">
                            </div>
                            <div class="body">
                                <p id="saved-items-heading">Saved Items</p>
                                <p>View and manage your saved items</p>
                            </div>
                        </div>
                    </a>
                    <a href="#" aria-labelledby="support-tickets-heading" class="card-link">
                        <div class="card-grid">
                            <div class="head">
                                <img src="../../../static/img/icons/admission-tickets.svg" alt="Support tickets icon" class="account-icon">
                            </div>
                            <div class="body">
                                <p id="support-tickets-heading">Support Tickets</p>
                                <p>View and manage your support tickets</p>
                            </div>
                        </div>
                    </a>

                    <a href="../refund/refund-management.html" aria-labelledby="promotions-heading" class="card-link">
                        <div class="card-grid">
                            <div class="head">
                                <img src="../../../static/img/icons/money-refund-dollar.svg" alt="promotions icon" class="account-icon">
                            </div>
                            <div class="body">
                                <p id="marketing-heading">Refund</p>
                                <p>Request refund or track any refunds made</p>
                                
                            </div>
                        </div>
                    </a>
                </div>

                <h1 class="account-heading lighten" id="delete-account-heading">Delete account</h1>
                <p class="highlight">Warning this action cannot be reversed</p>
                <hr class="dividor">
                <div class="account__options cards">
                    <a href="#" aria-labelledby="delete-account-heading" class="card-link">
                        <div class="card-grid">
                            <div class="head">
                                <img src="../../../static/img/icons/delete.svg" alt="Locked key icon" class="account-icon">
                            </div>
                            <div class="body">
                                <p id="delete-account-heading" class="highlight">Delete account</p>
                                <p>Delete your account and everything related to it</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>

        <!-- Administration -->
        <!-- This section will be visible only to the admin and not to customers when the backend is built.
            For now, it will be displayed along with the normal user section.
        -->

        <section id="administration" aria-labelledby="administration-heading">
            <div class="content-container">
                <h1 id="admin-heading" class="account-heading lighten">Admin</h1>
                <p class="account-info">Visible to the admin only</p>
                <hr class="dividor">
                <div class="account__options cards">

                    <a href="../financial-management/financial-management.html" aria-labelledby="financial-management-heading" class="card-link">
                        <div class="card-grid">
                            <div class="head">
                                <img src="../../../static/img/icons/view-financial-account-credit-card.svg" alt="credit icon icon" class="account-icon">
                            </div>
                            <div class="body">
                                <p id="financial-management-heading" class="financial-management-header">Financial Management:</p>
                                <p id="financial-management-details" class="financial-management-instructions">Manage and track all financial transactions related enquires, such as refund-related financial activities, including issued refunds, pending transactions, and processed payments.</p>
                            </div>
                            
                        </div>
                    </a>
                    <a href="#" aria-labelledby="product-heading" class="card-link">
                        <div class="card-grid">
                            <div class="head">
                                <img src="../../../static/img/icons/product.svg" alt="product icon" class="account-icon">
                            </div>
                            <div class="body">
                                <p id="product-management-heading" class="title">Product Management</p>
                                <p>Manage products including discounted items, new items, etc. Add, edit, or delete products.</p>

                            </div>
                        </div>
                    </a>
                    <a href="#" aria-labelledby="orders-heading" class="card-link">
                        <div class="card-grid">
                            <div class="head">
                                <img src="../../../static/img/icons/draft-orders-major.svg" alt="Orders icon" class="account-icon">
                            </div>
                            <div class="body">
                                <p id="order-management-heading">Order Management</p>
                                <p>Analyse reports, manage inventory, and monitor customer activities.</p>

                            </div>
                        </div>
                    </a>
                    <a href="#" aria-labelledby="customer-support-heading" class="card-link">
                        <div class="card-grid">
                            <div class="head">
                                <img src="../../../static/img/icons/customer-support.svg" alt="Customer support icon" class="account-icon">
                            </div>
                            <div class="body">
                                <p id="customer-management-heading">Customer management</p>
                                <p>Manage, view, or edit customer information. Handle support tickets and cusomter reviews or feedbacks.</p>

                            </div>
                        </div>
                    </a>

                    <a href="#" aria-labelledby="content-book-heading" class="card-link">
                        <div class="card-grid">
                            <div class="head">
                                <img src="../../../static/img/icons/content-book-open.svg" alt="content book icon" class="account-icon">
                            </div>
                            <div class="body">
                                <p id="subscriptions-heading">Content Management</p>
                                <p>Manage content including creating blogs, new posts including FAQ or help sections</p>
                                
                            </div>
                        </div>
                    </a>
                    <a href="#" aria-labelledby="analytics-heading" class="card-link">
                        <div class="card-grid">
                            <div class="head">
                                <img src="../../../static/img/icons/analytics.svg" alt="Analytics icon" class="account-icon">
                            </div>
                            <div class="body">
                                <p id="analytics-heading">Analytics and Reports</p>
                                <p>Handle analytics reports including sales, inventory and customer activity reports</p>
                            </div>
                        </div>
                    </a>
                    <a href="#" aria-labelledby="promotions-heading" class="card-link">
                        <div class="card-grid">
                            <div class="head">
                                <img src="../../../static/img/icons/marketing-major.svg" alt="promotions icon" class="account-icon">
                            </div>
                            <div class="body">
                                <p id="marketing-heading">Promotions</p>
                                <p>Manage promotions by creating or editing products.</p>
                                
                            </div>
                        </div>
                    </a>

                  
                    <a href="#" aria-labelledby="settings-and-configuration-heading" class="card-link">
                        <div class="card-grid">
                            <div class="head">
                                <img src="../../../static/img/icons/settings.svg" alt="Settings and configuration icon" class="account-icon">
                            </div>
                            <div class="body">
                                <p id="settings-heading">Settings and Configuration</p>
                                <p>Manage settings, including tax configuration, store settings, and payment gateways.</p>
                                
                            </div>
                        </div>
                    </a>

                    
                   
                 
                   
                </div>
            </div>
        </section>
    </main>
    


    <footer>
        <div class="container">
            <div class="footer-section" aria-labelledby="quick-links">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>

            <div class="footer-section" aria-labelledby="customer-service">
                <h4>Customer Service</h4>
                <ul>
                    <li><a href="#">Help Center / FAQs</a></li>
                    <li><a href="#">Shipping & Delivery</a></li>
                    <li><a href="#">Returns & Refunds</a></li>
                    <li><a href="#">Track Your Order</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>

            <div class="footer-section" aria-labelledby="my-account">
                <h4>My Account</h4>
                <ul>
                    <li><a href="#">My Account</a></li>
                    <li><a href="#">Sign In / Register</a></li>
                    <li><a href="#">Wishlist</a></li>
                    <li><a href="#">Subscription Preferences</a></li>
                </ul>
            </div>

            <div class="footer-section" aria-labelledby="company-information">
                <h4>Company Information</h4>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Press & Media</a></li>
                    <li><a href="#">Affiliate Program</a></li>
                </ul>
            </div>

            <div class="footer-section" aria-labelledby="Policies">
                <h4>Policies</h4>
                <ul>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Cookie Policy</a></li>
                    <li><a href="#">Sustainability Practices</a></li>
                    <li><a href="#">Supplier Standards</a></li>
                </ul>
            </div>

            <div class="footer-section" aria-labelledby="Engage with us">
                <h4>Engage with Us</h4>
                <ul>
                    <li><a href="#">Newsletter Signup</a></li>
                    <li><a href="#" target="_blank">Follow Us on Facebook</a></li>
                    <li><a href="#" target="_blank">Follow Us on Instagram</a></li>
                    <li><a href="#" target="_blank">Follow Us on Twitter</a></li>
                    <li><a href="#" target="_blank">Follow Us on Pinterest</a></li>
                    <li><a href="#">Customer Reviews</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h4>Resources</h4>
                <ul>
                    <li><a href="#">Recipe Ideas</a></li>
                    <li><a href="#">Seasonal Produce Guide</a></li>
                    <li><a href="#">Nutritional Information</a></li>
                    <li><a href="#">Cooking Tips</a></li>
                </ul>
            </div>

            <div class="footer-section contact-us">
                <h4>Contact Us</h4>
                <ul>
                    <li>Email: <a href="mailto:egbieuku@hotmail.com" class="email-footer-link">egbieuku@hotmail.com</a>
                    </li>
                    <li>Phone: <a href="#">+44(079) 572 04547</a></li>
                    <li>Address: <a href="https://www.google.com/maps?q=123+Market+Street,+City,+Country"
                            target="_blank">
                            123 Madeup Street, London, United Kingdom</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h4>Secure Shopping</h4>
                <ul>
                    <li><a href="#">Payment Methods</a></li>
                    <li><a href="#">Secure Shopping Information</a></li>
                </ul>
            </div>
        </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.2/dist/sweetalert2.all.min.js"></script>



</body>

</html>